swf.load.complete.config.tables.if.count.less.than=500
swf.user.password.encrypted=true
#swf.application.requires.registration=true



swf.application.authentication.required=false
swf.application.requires.registration=true
swf.ftl.dir=src/main/resources/templates
swf.host=${adaptor}.humbhionline.in

#Point to your public url 
#swf.host=your_fully_qualified_domain
swf.external.port=443
swf.external.scheme=https

swf.jdbc.driver=org.h2.Driver
swf.jdbc.url=jdbc:h2:./database/${artifactId};AUTO_SERVER=TRUE;NON_KEYWORDS=VALUE;
swf.jdbc.userid=${artifactId}
swf.jdbc.password=${artifactId}
swf.jdbc.validationQuery=values(1)
swf.jdbc.dbschema=PUBLIC
swf.jdbc.dbschema.setonconnection=true
swf.jdbc.set.dbschema.command=set schema public


swf.HUMBOL.client.id=${adaptor}.humbhionline.in
swf.HUMBOL.client.secret=venky12
swf.HUMBOL.base.url=https://id.humbhionline.in
swf.HUMBOL.resource.url=https://id.humbhionline.in/users/current

swf.encryption.support=false
#swf.key.store.directory=./.keystore
#swf.key.store.password=mypassword
#swf.key.entry.succinct.password=myentrypassword



beckn.auth.enabled=true
in.succinct.onet.name=hbo
in.succinct.onet.hbo.lookup.cache.expiry.minutes=5





